@model RoleManagementVM

<div class="card border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 mb-4 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Manage User Role
                </h2>
            </div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="ApplicationUser.Id" hidden />
        <div class="row">
            <div class="col-12">
                <div class="border p-3">
                    <div class="mb-3 row p-1">
                        <label asp-for="ApplicationUser.Name" class="p-0"> </label>
                        <input asp-for="ApplicationUser.Name" readonly class="form-control" />
                    </div>
                    <div class="mb-3 row p-1">
                        <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select"></select>
                    </div>
                    @{
                        var companyVisible = "display:none;";
                    }
                    @if (Model.ApplicationUser.Role == SD.Role_Company)
                    {
                        companyVisible = "display:block;";
                    }
                    <div class="mb-3 row p-1">
                        <select asp-for="ApplicationUser.CompanyId" style="@companyVisible" asp-items="@Model.CompanyList" class="form-select"></select>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <button type="submit"
                                    class="btn btn-primary form-control">
                                Update Role
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="User"
                               asp-action="Index"
                               class="btn btn-outline-secondary border form-control">
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $("#ApplicationUser_Role").change(function () {
                var selection = $("#ApplicationUser_Role Option:Selected").text();
                if (selection == "Company") {
                    $("#ApplicationUser_CompanyId").show();
                }
                else {
                    $("#ApplicationUser_CompanyId").hide();
                }
            })
        })
    </script>
                        }